URxvt.transparent:False
URxvt.scrollBar: False
URxvt.reverseVideo:False

URxvt.font: xft:LiberationMono:size=11
URxvt.letterSpace: -1

!! Rose-pine color scheme
! Base
*color0: #191724
! Love
*color1: #eb6f92
! Foam #9ccfd8
*color2: #9ccfd8
! Gold
*color3: #f6c177
! Pine
*color4: #31748f
! Iris
*color5: #c4a7e7
! Muted 
*color6: #6e6a86
! Text
*color7: #e0def4

URxvt.background: 0
URxvt.foreground: 7
URxvt.highlightColor:6
